---
layout: base.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /categories/{{ category.slug }}/
eleventyComputed:
  pageTitle: "{{ category.name }}"
---

<div class="fade-in">
  <h1 class="page-title">{{ category.name }}</h1>

  {% for post in category.posts %}
  <div class="post">
    <h2 class="post-title"><a href="{{ page.url | rootPath }}{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="post-content">
      {{ post.templateContent | safe }}
    </div>
  </div>
  <div class="post-footer">
    <div class="post-date">{{ post.date | upperDate }}</div>
  </div>
  {% endfor %}
</div>
