---
layout: base.njk
pageTitle: חיפוש
permalink: /search/
---

<div class="fade-in">
  <h1 class="page-title">חיפוש</h1>
  <div class="search-container">
    <input type="text" class="search-page-input" id="searchPageInput" placeholder="חיפוש בכל הפוסטים…" autofocus>
  </div>
  <div id="searchResults"></div>
</div>

<!-- Search index generated at build time -->
<script src="/assets/js/search-data.js"></script>
